__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Domino
.dominoignore
.dominoresults
dominostats.json
domino.log
.domino
.dominokeep

# Files
test_train_features.csv
*.zip
.DS_Store